svg.lightning(xmlns='http://www.w3.org/2000/svg', viewBox = '0 0 214.42924 353.98364', version='1.1')
  g(transform='translate(246.09911,-72.07007)')
    path(style='fill: #ff5300; fill-opacity: 1; stroke: none;', d='m -146.95123,72.07007 99.9747,0 -62.85898,118.65876 78.16564,0 -175.9542,235.32487 56.44708,-162.98233 -94.92212,0 z')