@import url('http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic-ext')

font-size = 14px
font-size-giant = font-size * 3
font-size-large = font-size * 1.75
font-size-medium = font-size * 1.5
font-size-small = font-size * .85

color-red = rgb(255, 83, 0)
color-light-gray = rgb(220, 220, 220)
color-light-gray-25 = rgba(color-light-gray, .25)

img
  opacity .1

@import './to-top'
@import './page'
@import './board'
@import './post'
@import './thread'
@import './sidebar'
