*
  font-family 'Ubuntu', sans-serif

//body
//  background url(http://ompldr.org/vZ3gycA/hk.png) no-repeat fixed bottom right

.chan-header

  position relative
  height 100px

  .lightning

      width 100px
      height 100px
      position absolute
      left 0
      top 0

  .header-caption

    position absolute
    left 100px
    top 0
    line-height 1
    font-size 50px

  .header-welcome

    position absolute
    left 100px
    top 20px
