.post

  padding 5px
  margin 10px 0
  box-shadow 0 0px 3px rgba(34, 25, 25, 0.2)
  background rgb(250, 250, 250)

  &.free
    position absolute
    box-shadow 0 0 6px rgba(34, 25, 25, .5)

  .post-info

    .info-poster
    .info-created-at
    .label

      margin 0 5px

  .post-subject

    margin 5px

  .post-img

    margin 5px

  .post-text
    p
      margin 0 0 5px

