.thread

  margin 0 10px

  .thread-info

    margin 5px 0

    .info-poster
    .info-created-at
    .label

      margin 0 5px

  .thread-subject

    margin 5px
    display block
    text-align center

  .thread-omit

    margin 5px

  .thread-body

    background white
    box-shadow 0 0px 5px rgba(34, 25, 25, 0.2)
    margin 10px 0

  .thread-img

    img

      width 100%

  .thread-text

    margin 5px

    p

      margin 0 0 5px