width = 200px
margin = 10px
size = 20px

.to-top
  position fixed
  right margin
  bottom margin
  top margin
  width width
  cursor pointer

  &:hover
    background-color color-light-gray-25
    font-size font-size
    line-height 1
    vertical-align bottom
    text-align right

    &:after
    &:before
      content ''
      display block
      position absolute
      width 0
      height 0
      border-left size solid transparent
      border-right size solid transparent
      border-bottom size solid color-red
      left 50%
      margin-left - size * .7
      top 50%

    &:before
      margin-top - width * .5

    &:after
      margin-top width * .5