extends layouts/page

block page
  .row
    - var speed__ = speed + ' ' + plural(speed, 'пост', 'поста', 'постов') + '/час'
    .span12
      a.board-header(href = '/x/#!/' + id + '/')= title
      span.label.label-info= speed__
  .row(data-board-threads)

block sidebar
  include includes/board-sidebar